/*======================Sign Up =================*/
.SignUp{
    background-color: None;
}

.SignUp-nav {
    height: 50px;
    background: rgba(251, 105, 0, 0.1);
    padding-bottom: 5px;
    box-shadow: #000000;
    margin-bottom: 30px;
}

.SignUp-logo-div {
    position: relative;
}
.SignUp-logo-icon{
    top: 2px;
    padding-left: 10px;
    position:absolute;
}

.SignUp-logo-icon-txt {
    position: absolute;
    top: 18px;
    padding-left: 60px;

}

.SignUp-cover-icon{
    height: 234px;
    left: 41px;
    top: 105px;
}

.SignUp-text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 22px;
    /*line-height: 21px;*/

    color: #000000;
}

.SignUp-email-input {
    height: 50px;
    width: 80%;
    left: 16px;
    /* top: 429px; */
    background: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px;
    border: 2px solid #FB6900;
    box-sizing: border-box;
    border-radius: 10px;
}

.SignUp-password-input {
    height: 50px;
    width: 80%;
    margin-top:10px;
    background: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px;
    border: 2px solid #FB6900;
    box-sizing: border-box;
    border-radius: 10px;
}

.SignUp-button {
    margin-top: 10px;
    background: #FB6900;
    border-radius: 10px;
    border-color: #FFFFFF;
    left: 16px;
    height: 50px;
    width: 80%;
    color: #FFFFFF;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: bold;
}

.SignUp-button:hover {
    opacity: 1.0;
}

.SignUp-login {
    color:  #FB6900;
}


/*======================Log In =================*/

.Login{
    background-color: None;
}

.Login-nav {
    height: 50px;
    background: rgba(251, 105, 0, 0.1);
    padding-bottom: 5px;
    box-shadow: #000000;
    margin-bottom: 30px;
}

.Login-logo-div {
    position: relative;
}
.Login-logo-icon{
    top: 2px;
    padding-left: 10px;
    position:absolute;
}

.Login-logo-icon-txt {
    position: absolute;
    top: 18px;
    padding-left: 60px;
    /* margin-bottom: 169px; */
    /* object-position: center; */
}

.Login-cover-icon{
    height: 234px;
    left: 41px;
    top: 105px;
}

.Login-text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 22px;
    /*line-height: 21px;*/

    color: #000000;
}

.Login-email-input {
    height: 50px;
    width: 80%;
    left: 16px;
    background: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px;
    border: 2px solid #FB6900;
    box-sizing: border-box;
    border-radius: 10px;
}

.Login-password-input {
    height: 50px;
    width: 80%;
    margin-top:10px;
    background: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px;
    border: 2px solid #FB6900;
    box-sizing: border-box;
    border-radius: 10px;
}

.Login-button {
    margin-top: 10px;
    background: #FB6900;
    border-radius: 10px;
    border-color: #FFFFFF;
    left: 16px;
    height: 50px;
    width: 80%;
    color: #FFFFFF;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: bold;
}

.Login-button:hover {
    opacity: 1.0;
}

